<p>
    <mat-toolbar>
        <button mat-menu-item class="example-icon" aria-label="Example icon-button with menu icon"
         routerLink="/viajeros">
            <mat-icon>commute</mat-icon>
            <span>Viajeros</span>
        </button>
        <button mat-menu-item  class="example-icon" aria-label="Example icon-button with menu icon"
        routerLink="/contactos">
            <mat-icon>contacts</mat-icon>
            <span>Contactos</span>
        </button>
        <span class="example-spacer"></span>
    </mat-toolbar>
</p>
<router-outlet></router-outlet>
