<p>
    <mat-toolbar color ="primary">
      <span>SafeTrip</span>
      <span class="example-spacer"></span>
      <button mat-button routerLink="/destinos">Destinos</button>
      <button mat-button routerLink="/grupo">Grupos</button>
      <button mat-button routerLink="/servicio">Servicios</button>
      <button mat-button routerLink="/contactos">Contactos</button>
      <button mat-button routerLink="/viajeros">Viajeros</button>
      <span class="example-spacer"></span>
    </mat-toolbar>
</p>